<div class="login-bg">
  <div class="login layui-anim layui-anim-up">
    <div class="message">x-admin2.0-用户注册</div>
    <div id="darkbannerwrap"></div>
    
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "layui-form"}) do |f| %>

      <%= f.error_notification %>
      <hr class="hr15">

      <%= f.text_field :login_name, autofocus: true, id: "doc-ipt-email-1", placeholder: "账号", "lay-verify": "required", class: "layui-input" %>
      <hr class="hr15">

      <%= f.text_field :email, "lay-verify": "required", class: "layui-input", placeholder: "邮箱" %>
      <hr class="hr15">

      <%= f.password_field :password, placeholder: "密码", "lay-verify": "required", class: "layui-input" %>
      <hr class="hr15">

      <%= f.password_field :password_confirmation, placeholder: "密码", "lay-verify": "required", class: "layui-input" %>
      <hr class="hr15">

      <input value="注册" lay-submit lay-filter="login" style="width:100%;" type="submit">
      <hr class="hr20" >
      <%= link_to "登录",  new_session_path(resource_name)%>
    <% end %>
  </div>

  <!-- 底部结束 -->
</div>