<div class="login-bg">
  <div class="login layui-anim layui-anim-up">
    <div class="message">x-admin2.0-管理登录</div>
    <div id="darkbannerwrap"></div>
    
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "layui-form"}) do |f| %>
      <%= alert %>
      <hr class="hr15">
      
      <%= f.text_field :login_name, autofocus: true, id: "doc-ipt-email-1", placeholder: "账号", "lay-verify": "required", class: "layui-input" %>
      <hr class="hr15">

      <%= f.password_field :password, id:"doc-ipt-pwd-1", placeholder: "密码", "lay-verify": "required", class: "layui-input" %>
      <hr class="hr15">

      <%= f.input :captcha, label: false, style: "width: 50%" do %>
        <%= simple_captcha_options[:field] %>
        <%= simple_captcha_options[:image] %>
        <%= simple_captcha_options[:refresh_button] %>
      <% end %>
      <hr class="hr15">

      <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
      <hr class="hr20" >
      <%#= link_to "注册",  new_registration_path(resource_name)%>
    <% end %>
  </div>

  <script>
    $(function  () {
      layui.use('form', function(){
        var form = layui.form;
        // layer.msg('玩命卖萌中', function(){
        //   //关闭后的操作
        //   });
        //监听提交
        form.on('submit(login)', function(data){
          // alert(888)
          layer.msg(JSON.stringify(data.field),function(){
              location.href='index.html'
          });
          return false;
        });
      });
    })
  </script>
  <!-- 底部结束 -->
</div>