<%= render "js" %>
<div class="layui-fluid">
  <div class="layui-row">
    <%= simple_form_for [:admin, @luggage] do |f|%>

      <table class="layui-table th-tcr table-no-border">
        <tr>
          <th width="15%">姓名：</th>
          <td><%= "暂无 "%></td>

          <th width="15%">身份证号码：</th>
          <td><%= "暂无" %></td>

          <td>
            <%= link_to_void "识别证件", id: "connection", class: "layui-btn" %>
            
          </td>
        </tr>
      </table>

      <%= hidden_field_tag :back, params[:back]%>

      <%= f.input :no, label: "货物托运单号", hint: "货物托运单号为系统自动生成", readonly: true%>
      <%= f.input :store_at, as: :string, label: "存时", readonly: true, hint: "#{'系统自动生成当前时间' if @luggage.new_record? }"%>
      <%= f.input :mobile, label: "手机号码"%>
      <%= f.input :items_count, label: "件数", input_html: {min: 1}%>
      <%= f.input :remark, label: "备注", input_html: {class: "layui-textarea"}%>

      <%= render "admin/a_shared/btn_form", f: f%>
    <% end %>
  </div>
</div>