<div class="layui-fluid">
  <div class="layui-row">
    <%= simple_form_for [:admin, @luggage] do |f|%>

      <%= hidden_field_tag :back, params[:back]%>

      <%= f.input :no, label: "货物托运单号", hint: "货物托运单号为系统自动生成", readonly: true%>
      <%= f.input :store_at, as: :string, label: "存时", readonly: true, hint: "系统自动生成当前时间"%>
      <%= f.input :user_name, label: "姓名", required: true, input_html: {class: "validate[required]"}%>
      <%= f.input :card_type, collection: Luggage::CARD_TYPE.invert, label: "证件类型"%>
      <%= f.input :card_no, label: "证件号码"%>
      <%= f.input :mobile, label: "手机号码"%>
      <%= f.input :items_count, label: "件数", input_html: {min: 1}%>
      <%= f.input :remark, label: "备注", input_html: {class: "layui-textarea"}%>

      <%= render "admin/a_shared/btn_form", f: f%>
    <% end %>
  </div>
</div>