<div class="layui-card-body ">
  <%= search_form_for @q, url: admin_luggages_path, class: "layui-form layui-col-space5", method: :get do |f|%>
    <div class="layui-inline layui-show-xs-block">
      <%= f.search_field :no_cont, placeholder: "货物托管编号", class: "layui-input" %>
    </div>

    <div class="layui-inline layui-show-xs-block">
      <%= f.search_field :user_name_cont, placeholder: "姓名", class: "layui-input" %>
    </div>

    <div class="layui-inline layui-show-xs-block">
      <%= f.search_field :store_at_gteq, placeholder: "保管开始时间", class: "layui-input laydate_time" %>
    </div>

    <div class="layui-inline layui-show-xs-block">
      <%= f.label "未结账"%>
      <%= f.radio_button :pay_status_eq, 1%>
      <%= f.label "已结账"%>
      <%= f.radio_button :pay_status_eq, 2%>
    </div>

    <%= render "admin/a_shared/btn_search", f: f%>
  <% end %>
</div>