<div class="layui-col-md12">
  <div class="layui-card">
    <div class="layui-card-header">
      <table class="layui-table th-tcr">
        <tr>
          <th>证件号码：</th>
          <td><%= @luggage.card_no%></td>

          <th>姓名</th>
          <td><%= @luggage.user_name%></td>

          <th>货物托运单号</th>
          <td><%= @luggage.no%></td>
        </tr>
      </table>
    </div>

    <div class="layui-card-body ">
      <table class="layui-table th-tcr table-no-border">
        <tbody>

          <tr>
            <th>货物托运单号</th>
            <td><%= @luggage.no%></td>

            <th>保管日期</th>
            <td><%= @luggage.store_at%></td>

            <th>公司名称</th>
            <td><%= $settings[:company_name]%></td>
          </tr>

          <tr>
            <th>手机号码</th>
            <td><%= @luggage.mobile%></td>

            <th>件数</th>
            <td><%= @luggage.items_count%></td>

            <th></th>
            <td></td>
          </tr>

          <tr>
            <th>备注</th>
            <td colspan="5"><%= @luggage.remark%></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>